/* Reset padrão e configurações globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* Utilizando a fonte Roboto para um estilo mais moderno */
    color: #495057;
  }
  
  body {
    background-color: #e1e2e2;
    font-size: 16px; /* Tamanho de fonte base aumentado para melhor legibilidade */
  }
  
  button {
    background-color: #0496ff; /* Azul moderno */
    color: #fff;
    border: 2px solid transparent;
    padding: 4.8px 9.6px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s;
    border-radius: 5px; /* Cantos arredondados */
    margin-right: 5px;
  }

  button {
    padding: 10px 15px; /* Ou outro valor que se adeque melhor ao seu layout */
    min-height: 40px; /* Ajuste conforme necessário */
}

  
  button:hover {
    background-color: #0582ca; /* Tom mais escuro ao passar o mouse */
  }
  
  button:hover > i {
    color: #fff;
  }
  
  button i {
    pointer-events: none;
    color: #FFF;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

  
  .hide {
    display: none;
  }
  
  /* Estilo para o contêiner principal do TODO */
  .todo-container {
    max-width: 450px;
    margin: 48px auto 0;
    background-color: #fff;
    padding: 24px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sutil sombra para efeito moderno */
  }
  
  .todo-container header {
    text-align: center;
    padding: 0 16px 16px;
    border-bottom: 1px solid #ced4da;
  }
  
  /* Estilo para o formulário TODO */
  #todo-form, #edit-form {
    padding: 16px;
    border-bottom: 1px solid #ced4da;
  }
  
  #todo-form p, #edit-form p {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-control {
    display: flex;
  }
  
  .form-control input {
    margin-right: 4.8px;
  }
  
  #cancel-edit-btn {
    color: #555;
  }
  
  /* Barra de ferramentas TODO */
  #toolbar {
    padding: 16px;
    border-bottom: 1px solid #ced4da;
    display: flex;
  }
  
  #toolbar h4 {
    margin-bottom: 8px;
  }
  
  #search {
    border-right: 1px solid #ced4da;
    padding-right: 16px;
    margin-right: 16px;
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  
  #search form {
    display: flex;
  }
  
  #search input {
    width: 100%;
    margin-right: 4.8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
  }
  
  #filter {
    width: 35%;
    display: flex;
    flex-direction: column;
  }
  
  #filter select {
    flex: 1;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
  }
  
  /* Lista TODO */
  .todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 16px;
    border-bottom: 1px solid #ced4da;
    transition: background-color 0.3s;
  }
  
  .todo h3 {
    flex: 1;
    font-size: 16px;
  }
  
  .todo button {
    margin-left: 6.4px;
  }
  
  
  
  .done h3 {
    color: #3498dbd2;
    text-decoration: line-through;
    font-style: italic, bold;
  }

  #search {
    width: 60%; /* Reduzido de 65% para equilibrar melhor com o filtro */
}

#filter {
    width: 40%; /* Ajuste conforme necessário */
}

  